#out-most-cont{
    width:100%;
    margin:0 0 0 0;
    padding: 100px 0 0 0;
    display: flexbox;
}
#inn-left-cont{
    width: 30%;
    float: left;
    margin: 0 0 0 10%;
}
#profile-cont{
    width:98%;
    display:inline-block;
    padding:0 1% 2vw 1%;
    background-color: #f0ebeb; 
}
#profile-pic-cont{
    width:15%;
    float: left;
    margin: 0 0 1vw 0;
    padding: 3px 0 0 0;
}
#profile-pic-cont img{
    width: 90%;
    margin-left: 10%;
    height: 4vw;
    border-radius: 50%;
}
#name-cont{
    padding: 0 0 0 3%;
    width:82%;
    float: left;
    margin: 0 0 1vw 0;
}
/*here*/
.name{
    font-size: 1.1vw;
    font-weight: 600;
    line-height: 0.2vw;
    color: #071981;
}
.edit-icon a{
    float:right;
    margin-right: 5%;
    margin-top: -1.8vw;
    font-size: 1.5vw;
    color: #7e7e81;

}
.services{
    font-size: 0.9vw;
    font-weight: 600;
    color: #686666;
    line-height: 0.4vw;
}
.community2{
    font-size:1vw;
    font-weight: 600;
    color: #172074;
    margin-top: -5px;
}
.rating{
    color: #7c7a09;
    font-size: 1vw;
    margin-top: -15px;
}
.bio{
    font-size: 0.8vw;
    font-weight: 500;
    color: #0c5555;
    margin-top: -10px;
}
/*to here*/
#contact-cont{
    padding: 1vw 0 1vw 3%;
}
#uploader-phone{
    display: inline-block;
    background-color: #092980;
    padding: 0px 3vw 0 3vw;
    margin-right: 1vw;
    
}
#uploader-whatsapp{
    display: inline-block;
    background-color: #0b880b;
    padding: 0px 3vw 0 3vw;
}
#uploader-phone a, #uploader-whatsapp a {
    text-decoration: none;
    color: #ffffff;
} 
#uploader-phone .fa #uploader-whatsapp .fa{
    color: #ffffff;
}
.contact{
    font-size: 0.9vw;
}
.contact .fa {
    color: #ffffff;
}
#review-cont{
    width: 96%;
    background-color: #46a73ece;
    padding: 1vw 2% 1vw 2%;
    margin: 2vw 0 1vw 0;
}
#rev-headr{
    font-size: 1.4vw;
    font-weight: 700;
    color:#071981;
}
#latest-review-cont{
    background-color: #ffffff;
    border-radius: 5px;
    padding: 0 0 0 1vw;
    display: inline-block;
}
#rev-img-cont{
    float: left;
    width: 14%;
    padding: 0.5vw 0 0 1%;
}
#rev-img-cont img{
    width: 100%;
    border-radius: 50%;
    height: 3.5vw;
}
#rev-name-cont{
    float: left;
    width:82.5%;
    padding:0 0 0 2.5%;
}
.rev-name{
    font-size: 1.2vw;
    font-weight: 600;
}
#rev-message-cont {
    width: 98%;
    margin-top: 4.5vw;
    padding: 0 1% 0 1%;
}
#review-message {
    font-size: 0.9vw;
    font-weight: 500;
}
.time-stamp{
    text-align: right;
    font-size: 0.8vw;
    font-weight: 600;
    color: #686666da;
}
#other-reviews-cont p {
    font-size: 1vw;
    text-align: center;
    font-weight: 500;
    color: #09216e;
}
#new-upload-cont{
    display: block;
    background-color: #7d808083;
    text-align: center;
    width:95%;
    padding: 3vw 2.5% 3vw 2.5%;
    margin: 1.5vw 0 1.5vw 0;
}
#new-upload-btn{
    display: block;
    width: 45%;
    margin: 0 0 0 25%;
    background-color:#161670;
    padding: 1vw 2.5% 1vw 2.5%;
    font-size: 0.9vw;

}
#new-upload-btn a {   
    color: #ffffff;
}
#upload-btn-txt {
    font-size: 0.9vw;

}

#new-upload-btn:hover{
    background-color: #5e0957;
    
}

#inn-right-cont{
    width: 53%;
    float: left;
    background-color:#0d666d71;
    margin: 0 2% 0 5%;
}
h2{
    text-align: center;
    font-size: 1.5vw;
    color: #fff;
}
.output-containers{
    width:60%;
    margin-left: 20%;
    margin-bottom:50px;
    display: inline-block;
    padding: 0.2vw 1% 0px 1%;
    background-color: #faf6f6;
    
}
#image-cont{
    width: 95%;
    margin-left: 2.5%;
    padding-top: 1vw;
}
#image-cont img{
    width:100%;
    height: 18vw;
}
#text-cont{
    width: 100%;
    padding: 5px;
    height: auto;
}

a {
    text-decoration: none;
    color: #161616;

}
.address-results{
    font-size: 1.1vw;
    font-weight: 500;
}
.price-results{
    color:#161670;
    font-size: 1.2vw;
    font-weight: 600;
}
.type, .hostel, .street, .community{
    color: #161616;
    font-size:1vw;
    font-weight: 500;
    color: #152b8f;
}
.price{
    color: #16850b;
    font-size: 1.3vw;
    font-weight: 700;
}
.icons-cont .fa{
    font-size: 1.4vw;
    margin-left: 10px;
    color: #5f5f61;
}
#view-more-button{
    background-color: #05740b;
    text-align: center;
    padding: 5px;
    width: 30%;
    margin-left:35%;
    color: #f5f2f2;
    margin-bottom: 30px;
}
#button-text{
    font-size: 1.1vw;
    font-weight: 600;
}
#view-more-cont {
    display: none;
}
#view-more-button:hover {
    cursor: pointer;
    transition: 500ms;
    background-color: #353536;
}
@media screen and (max-width: 900px){
    #inn-left-cont{
        width: 70%;
        float: left;
        margin: 0 0 0 15%;
    }
    #profile-pic-cont{
        width:20%;
    }
    #profile-pic-cont img{
        height: 12vw;
    }
    #name-cont{
        padding: 0 0 0 3%;
        width:72%;
        margin: 0 0 2vw 0;
    }
    /*here*/
    .name{
        font-size: 2.1vw;
        line-height: 0.5vw;
    }
    .edit-icon a{
        margin-top: -2vw;
        font-size: 3vw;
    
    }
    .services{
        font-size: 1.7vw;
        line-height: 0.4vw;
    }
    .community2{
        font-size:2vw;
    }
    .rating{
        color: #c9c612;
        font-size: 1.8vw;
    }
    .bio{
        font-size: 1.5vw;
        font-weight: 500;
    }
    /*to here*/
    #contact-cont{
        padding: 1vw 0 1vw 3%;
    }
    #uploader-phone{
        padding: 0px 5vw 0 5vw;
        
    }
    #uploader-whatsapp{
        padding: 0px 5vw 0 5vw;
    }
    .contact{
        font-size: 1.7vw;
    }
    .contact .fa {
        color: #ffffff;
    }
    #review-cont{
        padding: 2vw 2% 2vw 2%;
        margin: 2vw 0 2vw 0;
    }
    #rev-headr{
        font-size: 2.4vw;
        font-weight: 700;
        color:#071981;
    }
    #rev-img-cont{
        padding: 1vw 0 0 1%;
    }
    #rev-img-cont img{
        height: 8vw;
    }
    .rev-name{
        font-size: 2.5vw;
    }
    #rev-message-cont {
        width: 96%;
        margin-top: 10vw;
        padding: 0 2% 0 2%;
    }
    #review-message {
        font-size: 1.5vw;
        font-weight: 500;
    }
    .time-stamp{
        font-size: 1.5vw;
    }
    #other-reviews-cont p {
        font-size: 1.7vw;
    }
    #new-upload-cont{
        padding: 5vw 2.5% 5vw 2.5%;
        margin: 2vw 0 2vw 0;
    }
    #new-upload-btn{
        padding: 2vw 2.5% 2vw 2.5%;
    
    }
    #new-upload-btn a {   
        color: #ffffff;
    }
    #upload-btn-txt {
        font-size: 1.6vw;
    
    }
    #inn-right-cont{
        width: 70%;
        float: left;
        background-color:#0d666d71;
        margin: 0 0 5vw 15%;
    }
    h2{
         font-size: 2vw;
    }
    .output-containers{
        width:70%;
        margin-left: 15%;
        padding: 0.5vw 1% 0px 1%;
        
    }
    #image-cont img{
        width:100%;
        height: 30vw;
    }
    .address-results{
        font-size: 1.7vw;
    }
    .price-results{
        color:#161670;
        font-size: 1.7vw;
        font-weight: 600;
    }
    .type, .hostel, .street, .community{
        font-size:2vw;
    }
    .price{
        font-size: 2.1vw;
    }
    .icons-cont .fa{
        font-size: 2vw;
        margin-left: 5px;
    }
    #view-more-button{
        width: 40%;
        margin-left:30%;
    }
    #button-text{
        font-size: 1.6vw;
    }
    #view-more-cont {
        display: none;
    }
    
}
@media screen and (max-width: 590px) {
    #inn-left-cont{
        width: 90%;
        float: left;
        margin: 0 0 0 5%;
    }
    #profile-pic-cont{
        width:25%;
    }
    #profile-pic-cont img{
        height: 17vw;
    }
    #name-cont{
        padding: 0 0 0 3%;
        width:67%;
        margin: 0 0 4vw 0;
    }
    /*here*/
    .name{
        font-size: 4vw;
        line-height: 0.5vw;
    }
    .edit-icon a{
        margin-top: -6vw;
        font-size: 6vw;
    
    }
    .services{
        font-size: 3.7vw;
        line-height: 0.8vw;
    }
    .community2{
        font-size:4vw;
    }
    .rating{
        color: #c9c612;
        font-size: 3.8vw;
    }
    .bio{
        font-size: 3.1vw;
        font-weight: 500;
    }
    /*to here*/
    #contact-cont{
        padding: 1.5vw 0 1.5vw 3%;
    }
    #uploader-phone{
        padding: 0px 8vw 0 8vw;
        
    }
    #uploader-whatsapp{
        padding: 0px 8vw 0 8vw;
    }
    .contact{
        font-size: 3.7vw;
    }
    .contact .fa {
        color: #ffffff;
    }
    #review-cont{
        padding: 4vw 2% 4vw 2%;
        margin: 4vw 0 4vw 0;
    }
    #rev-headr{
        font-size: 4.4vw;
    }
    #rev-img-cont{
        padding: 1.5vw 0 0 1%;
    }
    #rev-img-cont img{
        height: 12vw;
    }
    .rev-name{
        font-size: 4vw;
    }
    #rev-message-cont {
        width: 96%;
        margin-top: 14vw;
        padding: 0 3% 0 3%;
    }
    #review-message {
        font-size: 3.2vw;
        font-weight: 500;
    }
    .time-stamp{
        font-size: 3.2vw;
    }
    #other-reviews-cont p {
        font-size: 3.5vw;
    }
    #new-upload-cont{
        padding: 10vw 2.5% 10vw 2.5%;
        margin: 4vw 0 4vw 0;
    }
    #new-upload-btn{
        padding: 4vw 2.5% 4vw 2.5%;
    
    }
    #upload-btn-txt {
        font-size: 3.2vw;
    
    }
    #inn-right-cont{
        width: 90%;
        float: left;
        background-color:#0d666d71;
        margin: 0 0 5vw 5%;
    }
    h2{
         font-size: 5vw;
    }
    .output-containers{
        width:85%;
        margin-left: 7.5%;
        padding: 1vw 1% 0px 1%;
        
    }
    #image-cont img{
        height: 50vw;
    }
    .address-results{
        font-size: 4vw;
    }
    .price-results{
        color:#161670;
        font-size: 4vw;
        font-weight: 600;
    }
    .type, .hostel, .street, .community{
        font-size:4.2vw;
    }
    .price{
        font-size: 4.3vw;
    }
    .icons-cont .fa{
        font-size: 4vw;
    }
    #view-more-button{
        width: 50%;
        margin-left:25%;
    }
    #button-text{
        font-size: 3.5vw;
    }
    #view-more-cont {
        display: none;
    }
    
    

}