body{
    margin:0;
    padding: 0;
    font-family:system-ui, -apple-system, BlinkMacSystemFont,
     'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
      'Helvetica Neue', sans-serif;
}

h1{
    font-size: 1.7em;
}

.top-nav {
    overflow: hidden;
    background-color: #070707;
    position: fixed;
    z-index: 1;
    width: 100%;
}
.top-nav a img {
    height: 1.8vw;
    width: 9vw;
    margin: 0 49.5vw 0 0;
}

.top-nav a {
    float: left;
    display:block;
    color: #ffffff;
    text-align: center;
    padding:1vw 1.2vw;
    text-decoration: none;
    font-size: 0.9vw;
    font-weight: 500;
    height: 25px;       
}

.top-nav a:hover:not(:first-child) {
    background-color: #d1caca;
    color:#141414;
    font-size:1vw;
    transition: 0.5s;
}
.top-nav a.active {
    color: #104bee;
    text-decoration: underline;
    text-underline-offset: 5px;
    
}
.top-nav .icon {
    display: none;
    padding:13px 3px 15px;
}

.icon-cont {
    display: inline-block;
    cursor: pointer;
    margin-top:-7px;
}

.dropdown{
    float: left;
    overflow: hidden;
    color: #ffff;
}
.dropdown {
    cursor: pointer;
    border: none;
    font-size: 0.9em;
    outline: none;
    color: #ffff;
    font-family: inherit;
    margin: 0;
}
.dropbtn{
    cursor: pointer;
    border: none;
    font-size: 0.9em;
    padding:1.6vw 1.2vw;
    outline: none;
    color: #ffff;
    background-color: #070707;
    margin: 0;
}
.dropdown:hover, .dropbtn:hover, .dropbtn:focus{
    background-color:#d1caca;
}
.dropmenu-content{
    margin-top: 1em;
    display: none;
    width: 20em;
    position: fixed;
    background-color: #070707;
    min-height: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    animation: rotateMenu 1.5s ease-in-out forwards;
    transform-origin: top center;
    
}
.dropmenu-content p{
    float: none;
    color: #fff;
    padding:1vw 1.2vw;
    text-decoration: none;
    text-align: left;
}
.dropmenu-content p:hover {
    background-color:#d1caca;
}

@keyframes rotateMenu {
    0% {
        transform: rotateX(-90deg)
    }

    70% {
        transform: rotateX(20deg);
    }

    100%{
        transform: rotateX(0deg);
    }
}

.show{
    display: block;
}

.bar1, .bar2, .bar3 {
    width: 6vw;
    height: 1vw;
    background-color: #ffffff;
    margin: 0.3rem 0;
    transition: 0.5s;
}

.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}
.change .bar2 {opacity: 0;}
.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

.mySlides {
    display: none;
    
}
.mySlides img {
    vertical-align: middle;
    height: 100vh;
}
.slideshow-container {
max-width: 2000px;
position: relative;
}

.slide-text {
    color:#033b3b;
    position: absolute;
    bottom:8px;
    width:100%;
    text-align:center;
}
.fade{
    animation-name: fade;
    animation-duration:4s;
    transition: 500ms;
}
@keyframes fade {
    from{opacity: .4}
    to{opacity: 1}

}
#headtext{
    font-size: 3.5rem;
    font-weight: 600;
    background-color: #ebe8e8ab;
}
#sub-headtext{
    font-size: 2rem;
    font-weight: 500;
    background-color:#eceaeac2;
}
.startlink {
    text-decoration: none;
    background-color: #e4deded0;
    color: #033b3b;
    font-size: 1.7rem;
    font-weight: 600;
}

#about-cont{
    width:100%;
    text-align: center;
    display: inline-flex;
    margin: 6em 0 3em 0;

}
#about-sub-cont-a{
    width:50%;
    float: left;
}

#about-text-contain{
    width:60%;
    float: right;
}
.text-header{
    font-size: 1.5em;
    color: #042d69;
}
.text-descript{
    font-size: 1.2rem;
    font-weight: 500;
}

.redmre{
    text-decoration: none;
    font-weight: 700;
    color:#ffff ;
    line-height: 1em;
    font-size: 1.1em;
    padding: 0.6em 1em 0.6em 1em;
    background-color:#087e18 ;
    margin: 20px 0 0 0;

}
.redmre:hover{
    background-color: #66086e;
}
#about-sub-cont-b{
    width: 47%;
    float: left;
    padding: 0 15% 0 1.5%;

}
#about-sub-cont-b img {
    width: 90%;
    border-radius: 5%;
}

#about-sub-cont-b img:hover{
    opacity: 0.7;
    width:87%;
    transition: 0.5s;
}

#service-cont {
    background-color: #a8dcf5;
    margin-top: 3em;
    padding: 0 0 3em 0;
    margin-bottom: 6em;
    display:inline-block;
    text-align: center;
}

.service-sub-cont {
    float: left;
    width:25%;
    height:400px;
    margin: 1em 0 1em 2.4%;
    color: #070707;
    padding: 2em 2.5% 2em 2.5%;
    text-align: center;
    border: #fcf9f9 1px solid;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(121, 120, 120, 0.2), 
                0 6px 20px 0 rgba(129, 128, 128, 0.19);
    background-color:#ffffff;
}
.service-sub-cont:hover{
    background-color: #4f8c97;
    color: #ffffff;
    border-color: #4f8c97;
}

#large1, #large2, #large3{
    font-size: 7em;
    margin-top: 20px;
}

#vendor-cont{
    width:100%;
    display: inline-block;
    margin-bottom: 50px;
    text-align: center;
    
}
#text-sub-cont{
    width:43%;
    float: left;
    padding: 1em 1.5% 1em 1.5%;
}
#txt-inner-cont {
    width: 60%;
    margin: 0 10% 0 0;
    float: right;
}


#img-sub-cont{
    width:40%;
    float: left;
    text-align: left;
}
#img-sub-cont img{
    width: 100%;
}
#img-sub-cont img:hover{
    opacity: 0.7;
    width:97%;
    transition: 0.5s;

}

#stat-cont {
    width: 100%;
    background-color: #4b4949;
    color: #ffff;
    display: inline-block;
    margin-bottom: 50px;
}
#stat-sub-cont {
    width:25%;
    float: left;
    text-align: center;
}
.values {
    font-size: 2em;
    margin-bottom: 20px;

}
.groups {
    font-size: 20px;
}
#footer-cont {
    width:100%;
    background-color: #042d69;
    display: inline-block;
    color: #ffff;
    

}
.footer-sub-cont-a{
    float: left;
    width:40%;
    height:240px;
    padding: 5px;
    font-size: 1em;
}
.footer-sub-cont-b{
    float: left;
    width:40%;
    height:220px;
    padding: 5px;
}
#foot-para{
    font-size: 1em;
    font-weight: 500;
    line-height: 3em;
}
.foot-links{
    text-decoration: none;
    color: #ffff;
    font-size: 0.9em;
    font-weight: 500;
}
#small1, #small2, #small3{
    font-size: 1.2em;
}
#footer-base-cont{
    width:100%;
    display: inline-block;
    background-color: #042d69;
}
#icon-cont{
    width:30%;
    margin-left:35%;
}
.icon-sub-cont{
    width:15%;
    margin:0 0 0 10%;
    float:left;
}
.icon-sub-cont img{
    width:100%;
}

.confirm{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: rgba(0, 0, 0, 0.6);
    padding: 10px;
    box-sizing: border-box;
    opacity:0;
    animation: confirm--open;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    display: flex;
    align-items: center;
    justify-content: center;
   }

   .confirm--close {
    animation: confirm--close;
   }

   .confirm--window {
    width: 100%;
    max-width: 500px;
    background: #ffffff;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transform: scale(0.75);
    animation-name: confirm--window--open;
    animation-duration: 0.5s;
    animation-fill-mode:forwards;
    animation-delay: 0.2s;
   }

   .confirm--titlebar,
   .confirm--content,
   .confirm--buttons{
    padding: 0.5em;
   }

   .confirm--titlebar{
    background: #05566e;
    color: #fdfdfd;
    display: flex;
    align-items: center;
    justify-content: space-between;
   }

   .confirm--title{
    font-weight: bold;
    font-size: 1.2em;
   }
   .confirm--close{
    background: none;
    outline: none;
    color: #fff;
    border: none;
    transform: scale(2.5);
    transition: color 0.15s;
   }

   .confirm--close:hover{
    color: #e70707;
    cursor: pointer
   }

   .confirm--content{
    line-height: 1.8em;
    font-size: 0.8em;
    font-weight: 600;
   }

   .confirm--buttons {
    display: flex;
    justify-content: flex-end;
   }

   .confirm--button {
    padding: 0.7em 1.5em;
    border-radius: 5px;
    color: #ffffff;
    font-weight: 600;
    font-size: 1em;
    margin-left: 0.6em;
    cursor: pointer;
    outline: none;
    border: none;
   }

   .confirm--button:focus {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
   }

   .delete--button-fill{
    background: #c20f09;
    color: #fff;
   }

   .cancel--button-fill {
    background: #0b880b;
   }


   @keyframes confirm--open{
    from {opacity:0;}
    to {opacity:1;}
   }

   @keyframes confirm--close{
    from {opacity:1}
    to {opacity:0}
   }

   @keyframes confirm--window--open{
    to {
        opacity:1;
        transform: scale(1);
    }
   }

   #preloader{
    background: #fff url(images/Loading_icon.gif) no-repeat center center;
    margin-top: 3.3em;
    background-size: 20%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
   }

@media screen and (max-width: 800px) {
    .top-nav a img {
        width: 16vw;
        height: 3.5vw;
        margin: 0.5em 0px 0 0;
    }
     
    .top-nav a:not(:first-child){
        display: none;
    }
   
    .top-nav a.icon {
        float: right;
        display: block;
        
    }
    .top-nav.responsive{
        position: fixed; 
        z-index: 1;
        animation: rotateMenu 2s ease-in-out forwards;
        transform-origin: top center; 
    }
    .top-nav.top-nav.responsive .dropbtn {
        display: none;
    }
    .top-nav.responsive .icon{
        position: absolute;
        right: 0;
        top: 0;
    }
    .top-nav.responsive a {
        float:none;
        display:block;
        margin-bottom: 25px;
        text-align: left;
        font-size: 0.8em;
             
    }
    .top-nav a:hover:not(:first-child) {
        font-size:0.9em;
       
    }
    
    .dropdown{
        margin-left:63vw;
        overflow: hidden;
        color: #ffff;
    }
    .dropbtn{
        padding:2.2vw 2.6vw 3vw;
       
    }
   
    .dropmenu-content{
        margin: 2vw 0 0 -10vw ;
        width: 25vw;
     
    }
    .slideshow-container {
        padding:3em 0 0 0;
    }
    

    .mySlides img {
        height: 55vh;
    }

    #about-cont{
        width:100%;
        margin: 2em 0 3em 0;
    }

    #about-sub-cont-a{
        width:45%;
        float: left;
    }

    #about-text-contain{
        width:90%;
        margin:3em 0 0 5%;
    }

    .text-header{
        font-size: 1.2em;
       
    }

    .text-descript{
        font-size: 0.9rem;
    
    }

    #about-sub-cont-b{
        width: 53%;
        float: left;
        padding: 4em 1% 0 1%;
    
    }
    .redmre{
        font-size: 0.9em;
    
    }
  
    #vendor-cont{
        width:100%;
        margin-left:0%;
        margin-bottom: 50px;
    }
    #text-sub-cont{
        width:50%;
        padding: 0 1.5% 1em 1.5%;
    }
    #txt-inner-cont {
        width: 100%;
        margin: 0 0 0 0;
        float: right;
    }
    #img-sub-cont{
        width:45%;
        margin: 1em 0 0 0;
       
    }
    
}
@media screen and (max-width: 590px) {
    .top-nav a img {  
        width: 30vw;
        height: 6vw;
        margin: 0.8rem 0 0 0;
    }

    h1{
        font-size: 1.4em;
    }
    .top-nav.responsive a {
        font-size: 4.1vw;
        margin-bottom: 25px;
        text-align: left;     
    }

    .dropdown{
        margin-left:37vw;
    }

    .dropbtn{
        padding:4vw 4.5vw 4vw;
       
    }
  
    .dropmenu-content{
        margin: 4vw 0 0 -20vw ;
        width: 45em;
       
    }
    .bar1, .bar2, .bar3 {
        width: 10vw;
        height: 1.7vw;
        margin: 0.3rem 0;
    }
    .change .bar1 {
        transform: translate(0, 10px) rotate(-45deg);
    }
    .change .bar2 {opacity: 0;}
    .change .bar3 {
        transform: translate(0, -10px) rotate(45deg);
    }

    .slideshow-container {
        padding:52px 0 0 0;
    }

    .mySlides img {
        height: 35vh;
    }
    
    #headtext{
        font-size: 35px;
    }
    #sub-headtext{
        font-size: 20px;
        
    }
    .startlink {
        font-size: 17px;
    }
    #about-cont{
        width:100%;
        display: block;
        margin: 0 0 5em 0;
    }

    #about-sub-cont-a{
        width:100%;
        float: left;
    }
    #about-text-contain{
        float: none;
    }

    #about-sub-cont-b{
        width:98%;
        float: left;
        padding: 2.5em 1% 0 1%;
    
    }

    .service-sub-cont {
        float: left;
        width:65%;
        height: 300px;
        margin-left: 15%;
        
    }
    
    #vendor-cont{
        width:100%;
        margin-left: 0;
    }
    #text-sub-cont{
        width:98%;
        padding: 0 1% 0 1%;
     
    }
    #txt-inner-cont {
        width: 90%;
        margin: 0 5% 0 5%;
        float: right;
    }
    #img-sub-cont{
        width:100%;
    }
    #stat-sub-cont {
        width:99.5%;
        float: left;
        border: #9b9999 1px solid;
    }
   
    
    .footer-sub-cont-a{
        float:none;
        width:94%;
        height:155px;
        padding: 10px;
        text-align:center;
        margin-bottom: 30px;
    }
    .footer-sub-cont-b{
        float:none;
        width:96%;
        height:200px;
        padding: 5px  0 0 0;
        text-align:center;
        margin-bottom: 15px;
    }
    
    #icon-cont{
        width:60%;
        margin-left:19%;
    }
    .icon-sub-cont{
        width:19%;
        margin-left: 6%;
        float:left;
    }
    
    #preloader{
        background-size: 60%;
       }
    
}