#main-ext-cont{
    width:60%;
    margin-left: 20%;
    padding: 50px 0 0 0;
}
#logo-container{
    width:20%;

}
#logo-container img{
    width: 100%;

}
h1{
    text-align: center;
    margin-top: -20px;
}
h2{
    margin-left: 5%;
}
#Apartment-container{
    width: 100%;
    padding-top: 25px;
    display: inline-block;
    margin-bottom: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.filter-containers{
    width:20%;
    float:left;
    text-align: center;
}
#button-cont{
    width:20%;
    float:left;
    text-align: center;
}
label{
    font-weight: 700;
    font-size: 1vw;
    color: #161670;
}
select{
    width: 100%;
    height: 60px;
    text-align: center;
    color: #504f4f;
    font-size: 15px;
    font-weight: 700;
    border: none;
    border-top:#607dda solid 4px;
}
select:focus {
    outline: none;
    transition: 300ms;
 }
button {
    width: 100%;
    margin-top:24px;
    border: 1px solid rgb(29, 112, 4);
    background-color: rgb(29, 112, 4);
    color: #ffff;
    font-size: 15px;
    height: 60px;
}
#figures{
    background-color: #504f4f;
    width: 99%;
    display: block;
    padding: 1px 0 1px 15px;
    color: #f8f7f7;
    margin-bottom: 20px;
}
#show {
    font-size: 16px;
    font-weight: 500;
}
#output-ext-cont{
    width: 100%;
    margin-left: 0%;
    margin-bottom: 20px;
}
.disappear{
	display: none;
}
.output-containers{
    width:21%;
    margin-left: 8%;
    margin-bottom:30px;
    display: inline-block;
    padding: 0.2vw 1% 0px 1%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#image-cont{
    width: 95%;
    height: auto;
    margin-left: 2.5%;
    padding-top: 1vw;
}
#image-cont img{
    width:100%;
    height: 14vw;
}
#text-cont{
    width: 100%;
    padding: 5px;
    height: auto;
}

a {
    text-decoration: none;
    color: #161616;

}
.address-results{
    font-size: 1.1vw;
    font-weight: 500;
}
.price-results{
    color:#161670;
    font-size: 1.2vw;
    font-weight: 600;
}
.type, .hostel, .street, .community{
    color: #161616;
    font-size:1vw;
    font-weight: 500;
    color: #152b8f;
}
.price{
    color: #16850b;
    font-size: 1.3vw;
    font-weight: 700;
}
.icons-cont .fa{
    margin-left: 10px;
    color: #5f5f61;
}
#view-more-button{
    background-color: #152b8f;
    text-align: center;
    padding: 5px;
    width: 30%;
    margin-left:35%;
    color: #f5f2f2;
    margin-bottom: 30px;
}
#button-text{
    font-size: 18px;
    font-weight: 600;
}
#view-more-cont {
    display: none;
}
#view-more-button:hover {
    cursor: pointer;
    transition: 500ms;
    background-color: #353536;
}
#service-link-cont{
    margin-top:50px;
    margin-bottom: 50px;
    width: 50%;
    background-color: #dfd9d9;
    margin-left: 25%;
    display: inline-block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px 10px 10px 10px;
}
#img-right-cont{
    width:50%;
    float:left;
}
#img-right-cont img{
    width: 100%;
}
#text-left-cont{
    width: 45%;
    float:left;
    padding: 2%;  
}
#redir{
    font-weight: 400;
    
}
#redirect-link{
    font-weight: 700;
    color: #086161;
    font-size:1.4vw;
}
@media screen and (max-width: 900px) {
    #main-ext-cont{
        width:95%;
        margin-left: 2.5%;
        padding: 50px 0 0 0;
    }
    #Apartment-container{
        width: 100%;
        padding-top: 25px;
        display: inline-block;
        margin-bottom: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    #logo-container{
        width:20%;
        margin-left: 2%;
    
    }
    label{
        font-weight: 800;
        font-size: 1.8vw;
        color: #161670;
    }
    a {
        font-size: 2.5vw;
    
    }
    select{
        width: 100%;
        height: 50px;
        text-align: center;
        color: #504f4f;
        font-weight: 700;
    }
    button {
        width: 100%;
        margin-top:22.2px;
        height: 50px;
    }
    #figures{
        width: 98%;
    }
    #output-ext-cont{
        width: 100%;
        margin-left: 0%;
        margin-bottom: 50px;
    }
    .output-containers{
        width:50%;
        margin-left: 25%;
        padding: 1vw 5px 0px 5px;
       
    }
    #image-cont{
        width: 90%;
        height: auto;
        margin-left: 5%;
    }
    #image-cont img{
        width:100%;
        height: 30vw;
    }
    #text-cont{
        width: 100%;
        height: auto;
    }
    #view-more-button{
        background-color: #152b8f;
        text-align: center;
        padding: 2px;
        width: 40%;
        margin-left:30%;
        color: #f5f2f2;
        margin-bottom: 30px;
    }
    #button-text{
        font-size: 16px;
        font-weight: 600;
    }
    .address-results{
        font-size: 2vw;
    }
    .price-results{
        font-size: 2vw;
    }
    .type, .hostel, .street, .community{
        font-size:2.3vw;
    }
    .price{
        font-size: 2.5vw;
    }
    #service-link-cont{
        width: 75%;
        margin-left: 12.5%;
    }
    #img-right-cont{
        width:50%;
        float:left;
    }
    #img-right-cont img{
        padding: 5%;
        width: 90%;
    }
    #text-left-cont{
        width: 45%;
        float:left;
        padding: 1%;   
    }
    #redir{
        font-weight: 400;
    }
    #redirect-link{
        font-size:2.4vw;
    }

}
@media screen and (max-width: 590px){

    #main-ext-cont{
        width:95%;
        margin-left: 2.5%;
        padding: 60px 0 0 0;
    }
    h1{
        text-align: center;
        margin-top: 5px;
    }
    .filter-containers{
        width:50%;
        float:left;
        text-align: center;
    }
    #button-cont{
        width:100%;
        float:left;
        text-align: center;
    }
    select{
        width: 100%;
        height: 50px;
        text-align: center;
        color: #504f4f;
        font-weight: 22px;
        font-weight: 700;
        border: none;
        border-top:#607dda solid 3px;
    }

    label{
        font-weight: 700;
        font-size: 3.3vw;
        color: #161670;
    }
    a {
        font-size:3.5vw;
    
    }
    #figures{
        width: 95%;
        padding: 1px 0 1px 19px;
    }

    #output-ext-cont{
        width: 100%;
        margin-left: 0%;
        margin-bottom: 50px;
    }
    .output-containers{
        width:80%;
        margin-left: 10%;
        margin-bottom: 30px;
        padding: 1vw 5px 0px 5px;
    }
    #image-cont{
        width: 90%;
        height: 60vw;
        height: auto;
        margin-left: 5%;
        padding-top: 2vw;
    }
    #image-cont img{
        width:100%;
        height: 50vw;
    }
    #text-cont{
        width: 100%;
        height: auto;
    }
    #view-more-button{
        background-color: #152b8f;
        text-align: center;
        padding: 2px;
        width: 60%;
        margin-left:20%;
        color: #f5f2f2;
        margin-bottom: 30px;
    }
    .address-results{
        font-size: 2.9vw;
        font-weight: 500;
    }
    .price-results{
        color:#161670;
        font-size: 3vw;
        font-weight: 600;
    }
    .type, .hostel, .street, .community{
        font-size:3.5vw;
    }
    .price{
        font-size: 4vw;
    }
    #service-link-cont{
        width: 80%;
        margin-left: 10%;
    }
    #img-right-cont{
        width:100%;
        float:left;
    }
    #img-right-cont img{
        padding: 0%;
        width: 100%;
    }
    #text-left-cont{
        width: 100%;
        float:left;
        padding: 2%;  
    }
    #redir{
        font-weight: 400;
        font-size: 21px;
    }
    #redirect-link{
        font-weight: 700;
        color: #086161;
        font-size:4.5vw;
    }
   
}
