#outer-most-container{
    width:35%;
    margin-left: 32.5%;
    padding: 80px 0 0 0;
}
#logo-container{
    width:25%;
    margin-bottom:-20px;

}
#logo-container img{
    width: 100%;
}
#apart-upload-form{
    width: 100%;
    padding-top: 30px;
    display: block;
    float:left;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
label{
    font-size: 14px;
    font-weight: 700;
    margin-left: 10%;
}
#form-title{
    text-align: center;
    font-size: 1.5em;
    color: #136d0b;
}
input[type=text], input[type=number] {
    width: 70%;
    padding: 7px;
    margin: 5px 0 5px 15%;
    border:none;
    border-bottom: #607dda solid 3px;
 }
 input[type=text]:focus, input[type=number]:focus{
    background-color: #d4d6d8;
    outline:none;
    font-size: 14px ;
    transition: 300ms;
 }
 select {
    width: 73%;
    padding: 7px;
    margin: 5px 0 5px 15%;
    border: none;
    border-bottom:#607dda solid 3px;
 }
 select:focus{
    background-color: #f9f9fa;
    outline:none;
    font-size: 14px;
    transition: 300ms;
 }
h3{
    text-align: center;
    font-size: 1.1em;
}
.apartmemt-img{
    opacity:0;
    width: 100%;
    height:100px;
    position: absolute;
 }
 #apartment-img-cont{
    margin-top: 20px;
    width:80%;
    margin-left: 2%;
    margin-bottom: 20px;
 }
 #apartment-img-cont label{
    display:block;
    position: relative;
    width: 100%;
    height:50px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1843d1;
    color: #ffffff;
    cursor: pointer;
    transition: transform 2s ease-out;
 }
 .file-name{
    position: absolute;
    left: 0%;
    bottom: -20px;
    text-align: center;
    color: #faf7f7;
    font-size: 10px;
    background-color: #1843d1;
    text-decoration: underline;
    width: 100%;
    
 }
 
 .image-select-cont {
    width:35%;
    margin: 0.5vw 0 0.5vw 39.5%;
 }
 .image-select-cont img{
    width:100%;
    height:auto;
 }

 .submit-btn{
    padding: 15px;
    width: 70%;
    margin-top: 20px;
    margin-left: 15%;
    height: 55px;
    font-size: 16px;
    color: #ffffff;
    background-color: #217707;
    border:none;
    border-radius: 5px;
    margin-bottom: 20px;
 }
 
 button:hover{
    background-color: #941077;
 }
 #notice{
    padding: 1vw 1% 1vw 2%;
    width: 97%;
    background-color: #f5d6bd;
    margin-bottom: 20px;
 }
 #notice h4{
    color: #ca2114;
    font-size: 1em;
    margin-bottom: -5px;
 }
 #notice p{
    color: #d60b0b;
    font-size: 0.8em;
    line-height: 13px;
    font-weight:500;

 }


@media screen and (max-width: 1000px){
    #outer-most-container{
        width:55%;
        margin-left: 22.5%;
        padding: 70px 0 0 0;
    }

    #logo-container{
        width:30%;
        margin-bottom:-20px;
    
    }

   

}
@media screen and (max-width: 590px){
    #outer-most-container{
        width:90%;
        margin-left: 5%;
        padding: 80px 0 0 0;
    }

    #logo-container{
        width:35%;
        margin-bottom:-20px;
    
    }

    
}