.disappear{
    display: none;
}
.appear{
    display: block;
}
#External-cont{
    width:50%;
    margin-left: 25%;
    padding: 70px 0 0 0;
}
h1{
    text-align: center;
    font-size: 25px;
}
/*here*/
#service-prov-container{
    width: 100%;
    padding-top: 15px;
    display: inline-block;
    margin-bottom: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/*to here*/
.filter-containers{
    width:37.5%;
    float:left;
    text-align: center;
}
.filter-cont{
    width:25%;
    float:left;
    text-align: center;
}
#button-cont{
    width:25%;
    float:left;
    text-align: center;
}
label{
    font-weight: 700;
    font-size: 0.9vw;
    color: #161670;
}
select{
    /*here*/
    width: 100%;
    height: 45px;
    /*to here*/
    text-align: center;
    color: #504f4f;
    font-size: 1vw;
    font-weight: 700;
    border: none;
    border-top:#607dda solid 4px;
}
select:focus {
    outline: none;
    transition: 300ms;
 }
#service-search {
    width: 100%;
    margin-top:24px;
    border: 1px solid rgb(29, 112, 4);
    background-color: rgb(29, 112, 4);
    color: #ffff;
    font-size: 15px;
    height: 50px;
}
#search-filter{
    font-size: 1.3vw;
    text-align: center;
    color: #0c1c61;
}
#figures{
    background-color: #504f4f;
    width: 98%;
    display: block;
    /*here*/
    padding: 1px 0 1px 1%;
    /*to here*/
    color: #f8f7f7;
    margin-bottom: 30px;
}
#show {
    font-size: 16px;
    font-weight: 500;
}
#output-external-cont{
    width: 100%;
    margin-left: 0%;
    margin-bottom: 20px;
}
.output-containers{
    width:22%;
    margin-left: 6%;
    margin-bottom:50px;
    display: inline-block;
    /*here*/
    padding: 1vw 1.5% 0px 1.5%;
    border-top: 5px solid #1c9ad4;
    border-radius: 5px;
    /*to here*/
    box-shadow: 0 4px 8px 0 rgba(160, 158, 158, 0.2), 
    0 6px 20px 0 rgba(153, 151, 151, 0.19);
}
.output-containers a{
    text-decoration: none;
}
#img-container{
    width: 100%;
    height: auto;
    text-align: right;
}
#img-container img{
    width:100%;
    height: 16vw;

}
#text-container{
    width: 100%;
    padding: 5px;
    height: auto;
    float:left;
}
.name{
    color: #177177;
    font-weight: 700;
    font-size: 1.1vw;
    /*here*/
    line-height: 0.3vw;
    /*to here*/
}
.services{
    color:#097e09;
    font-size: 1vw;
    font-weight: 600;
    /*here*/
    line-height: 0.3vw;
    /*to here*/
}
.community{
    color: #353536;
    font-size: 1vw;
    font-weight: 600;
    /*here*/
    line-height: 0.3vw;
    /*to here*/
}
/*here*/
.rating{
    font-size: 0.9vw;
    float: right;
    color: #4c4c4dd2;
    font-weight: 600;
    margin-top: -10px;
    line-height: 0.3vw;
}
.rating .fa{
    color: #d9dd06;
}
 /*to here*/
#view-more-button{
    background-color: #152b8f;
    text-align: center;
    padding: 5px;
    width: 30%;
    margin-left:35%;
    color: #f5f2f2;
    margin-bottom: 30px;
}
#button-text{
    font-size: 1.1vw;
    font-weight: 600;
}
#view-more-cont {
    display: none;
}
#view-more-button:hover {
    cursor: pointer;
    transition: 500ms;
    background-color: #353536;
}
#apartment-link-cont{
    margin-top:50px;
    margin-bottom: 50px;
    width: 40%;
    background-color: #f3ebeb;
    margin-left: 30%;
    display: inline-block;
    box-shadow: 0 4px 8px 0 rgba(104, 102, 102, 0.2), 
    0 6px 20px 0 rgba(134, 133, 133, 0.19);
    padding: 10px 10px 10px 10px;
}
#img-right-cont{
    width:50%;
    float:left;
}
#img-right-cont img{
    width: 100%;
}
#text-left-cont{
    width: 45%;
    float:left;
    padding: 2%;  
}
#text-left-cont a{
    text-decoration: none; 
    color: #086161;
     
}
#redir{
    font-weight: 500;
}
#redirect-link{
    font-weight: 800;
    text-decoration: none;
    font-size:1.4vw;
}

@media screen and (max-width: 900px){
    #External-cont{
        width:90%;
        margin-left: 5%;
        padding: 70px 0 0 0;
    }
    label{
        font-weight: 700;
        font-size: 1.6vw;
        color: #161670;
    }
    select{
        font-size: 1.8vw;
    }
    #search-filter{
        font-size: 2.5vw;
    }
    #figures{
        padding: 1px 1% 1px 1%;
        margin-bottom: 20px;
    }

    .output-containers{
        width:50%;
        margin-left: 25%;
        /*here*/
        padding: 2.5vw 2% 0px 2%;
        margin-bottom:50px;
       /*to here*/
        
    }
    #img-container{
        width: 100%;
        height: auto;
        float:left;
    }
    #img-container img{
        width:100%;
        height: 33vw;
    
    }
    #text-container{
        width: 100%;
        padding: 5px;
        height: auto;
        float:left;
    }
    .name{
        /*here*/
        color: #177177;
        font-weight: 700;
        font-size: 2.3vw;
        line-height: 0.7vw;
        /*to here*/
    }
    .services{
        /*here*/
        color:#097e09;
        font-size: 2vw;
        font-weight: 600;
        line-height: 0.5vw;
        /*to here*/
    }
    .community{
        font-size: 2vw;
        font-weight: 600;
        /*here*/
        line-height: 0.5vw;
        /*to here*/
    }
    /*here*/
    .rating{
        font-size: 1.6vw;
        float: right;
        color: #4c4c4dd2;
        font-weight: 600;
        line-height: 0.3vw;
    }
    /*to here*/
    #button-text{
        font-size: 1.8vw;
    }
    #apartment-link-cont{
        width: 70%;
        margin-left: 15%;
    }
    #redirect-link{
        font-weight: 700;
        color: #086161;
        font-size:2.4vw;
    }

}
@media screen and (max-width: 590px){
    #External-cont{
        width:90%;
        margin-left: 5%;
        padding: 60px 0 0 0;
    }
    h1{
        text-align: center;
        font-size: 16px;
    }
    label{
        font-weight: 700;
        /*here*/
        font-size: 3.5vw;
        /*to here*/
        color: #161670;
    }
    .filter-containers{
        width:50%;

    }
    .filter-cont{
        width:100%;
    }
    #button-cont{
        width:100%;
        float:left;
        text-align: center;
    }
    select{
        font-size: 3.5vw;
        height: 40px;
    }
    /*here*/
    #service-search {
        margin-top:5px;
    }
    
    #search-filter{
        font-size: 4vw;
        
    }
    /*to here*/
    #figures{
        margin-bottom: 20px;
        /*here*/
        padding: 0px 1% 0px 1%;
        /*to here*/

    }
    #service-prov-container{
        margin-bottom: 20px;
    }

    .output-containers{
        width:77%;
        margin-left: 8%;
         /*here*/
         padding: 4vw 4% 0px 4%;
         margin-bottom:50px;
        /*to here*/
    }
    #img-container{
        width: 100%;
        height: auto;
        float:left;
    }
    #img-container img{
        width:100%;
        height: 60vw;
    
    }
    #text-container{
        width: 100%;
        padding: 5px;
        height: auto;
        float:left;
    }
    /*here*/
    .name{
        color: #177177;
        font-weight: 700;
        font-size: 4.5vw;
        /*here*/
        line-height: 2vw;
        /*to here*/
    }
    .services{
        color:#097e09;
        font-size: 4.2vw;
        font-weight: 600;
        /*here*/
        line-height: 2vw;
        /*to here*/
    }
    /* to here*/
    .community{
        font-weight: 600;
        /*here*/
        font-size: 4vw;
        line-height: 2vw;
        /*to here*/
    }
    /*here*/
    .rating{
        font-size: 3vw;
        float: right;
        color: #4c4c4dd2;
        font-weight: 600;
        line-height: 0.3vw;
    }
    /*to here*/
    #view-more-button{
        width: 50%;
        margin-left:25%;
        margin-bottom: 30px;
    }
    /*here*/
    #button-text{
        font-size: 3.5vw;
    }
    /*to here*/
    
    #apartment-link-cont{
        width: 70%;
        margin-left: 15%;
    }
    #img-right-cont{
        width:100%;
    }
    #img-right-cont img{
        width: 100%;
    }
    #text-left-cont{
        width: 100%;
        padding: 2%;  
    }
    #redir{
        font-weight: 400;
        
    }
    /*here*/
    #redirect-link{
        font-weight: 700;
        color: #086161;
        font-size:4vw;
    }
    /*to here*/

}